<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {$title=$wa->title()}
    <title>{if $title}{$title|escape}{else}{$wa->appName()}{/if} &mdash; {$wa->accountName()}</title>
    {$wa->css()}

    <link rel="stylesheet" href="{$wa_app_static_url}css/bootstrap.min.css">
    <link rel="stylesheet" href="{$wa_app_static_url}css/bootstrap.min.css">

    <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>-->

    <script src="{$wa_app_static_url}js/jquery-3.3.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{$wa_app_static_url}js/bootstrap.min.js"></script>

    <script src="{$wa_app_static_url}js/magasin.js"></script>

</head>
<body>
<div id="wa">
    {$wa->header()}
    <div id="wa-app">
        {$sidebar}
        <div class="content left200px">
            {$content}
        </div>
    </div><!-- #wa-app -->
</div><!-- #wa -->
</body>
</html>