<form action="index.php?module=provider" method="post" id="adminForm" name="adminForm">

    <div style="margin-top: 10px;"></div>
    <div style="float: left;">
        <button type="button" class="btn btn-outline-success btn-sm" onclick="return submitbutton('provider','edit');" >Добавить</button>
        <button type="button" class="btn btn-outline-danger btn-sm" onclick="return deletebutton('provider','delete');">Удалить</button>
    </div>

    <div style="float: right;" class="mr-3 mb-3">
        <input class="form-control form-control-sm" type="text" placeholder="поиск" name="search" value="{$search}">
    </div>

    <div style="margin-top: 10px;"></div>

    <div>
        <table class="table table-striped table-bordered table-hover">
            <caption>Список поставщиков</caption>
            <thead class="thead-light">
            <tr>
                <th scope="col"><input type="checkbox" onclick="return checkAll();"> </th>
                <th scope="col">#</th>
                <th scope="col">название</th>
                <th scope="col">url</th>
                <th scope="col">кол-во магазинов</th>
                <th scope="col">включить/отключить</th>
                <th scope="col">панель управления</th>
            </tr>
            </thead>

            <tbody>
            {foreach from=$records item=r}
            <tr>
                <td>
                    <input type="checkbox" class="provider_checkbox" value="{$r.id}" name="cid[]">
                </td>
                <th scope="row">{$r.id}</td>
                <td><a href="?module=provider&action=edit&id={$r.id}">{$r.name}</a></td>
                <td><a href="{$r.url}" target="_blank">{$r.url}</a></td>
                <td>{$r.count_magasins}</td>
                <td>
                    <div class="btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-sm btn-outline-warning {if $r.published}active{/if}">
                            <!--<input type="checkbox" autocomplete="off" onclick="return listItemTask('cb{$r.id}','banners.sticky_publish')">Включить-->
                            <input type="checkbox"  autocomplete="off" data-toggle="toggle" class="publish_toogle" module="provider" value_id="{$r.id}">{if $r.published}Отключить{else}Включить{/if}
                        </label>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm" onclick="return window.location.href = '?module=matchs&provider_id={$r.id}';">настройка</button>
                </td>
            </tr>
            <!--<a class="count" href="?module=magasin&action=delete&id={$r.id}">-->
            <!--удалить</a>-->
            <!--<div><a href="?module=magasin&action=edit&id={$r.id}">{$r.id} {$r.name} ({$r.url})</a></div>-->
            {/foreach}
            </tbody>
        </table>
    </div>


    <input type="hidden" name="module" value="provider"/>


</form>