<form action="index.php?module=categorie" method="post" id="adminForm" name="adminForm">

    <div style="margin-top: 10px;"></div>
    <div style="float: left;">
        <!--<button type="button" class="btn btn-outline-success btn-sm" onclick="return submitbutton('product','edit');" >Добавить</button>-->
        <!--<button type="button" class="btn btn-outline-danger btn-sm" onclick="return deletebutton('product','delete');">Удалить</button>-->
    </div>

    <div style="float: right;" class="mr-3 mb-3">
        <input class="form-control form-control-sm" type="text" placeholder="поиск" name="search" value="{$search}">
    </div>

    <div style="margin-top: 10px;"></div>

    <div>
        <table class="table table-striped table-bordered table-hover">
            <caption>Список продуктов</caption>
            <thead class="thead-light">
            <tr>
                <th scope="col"><input type="checkbox" onclick="return checkAll();"></th>
                <th scope="col">#</th>
                <th scope="col">название</th>
            </tr>
            </thead>

            <tbody>
            {foreach from=$records item=r}
            <tr>
                <td>
                    <input type="checkbox" class="provider_checkbox" value="{$r.id}" name="cid[]">
                </td>
                <td scope="row">{$r.id}</td>
                <td><a href="?module=provider&action=edit&id={$r.id}">{$r.name}</a></td>
            </tr>
            {/foreach}
            </tbody>
        </table>
    </div>


    <input type="hidden" name="module" value="categorie"/>


</form>


<div class="container-fluid mb-5">
    <div class="row text-center">
        <div class="col-md-12">
            {wa_pagination total=$total page=$page prev="«" next="»" nb=3 attrs=['class' => 'menu-h']}
        </div>
    </div>
</div>