<div class="sidebar left200px">
    <div class="b-sidebar menu-collapsible b-sidebar-block" id="b-sidebar-block">
        <!-- core navigation -->
        <div class="block">
            <ul class="menu-v with-icons category-menu">
                <li class="bottom-padded">
                    <a href="?module=magasin&amp;action=edit&amp;id="><i class="icon16 add"></i><strong>Новый магазин</strong>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>