

<div class="sidebar left250px" id="s-sidebar">
    <div class="b-sidebar menu-collapsible b-sidebar-block" id="b-sidebar-block">
        <!-- core navigation -->
        <div class="block">
            <ul class="menu-v with-icons category-menu">

                {if isset($view_all_magasins) && $view_all_magasins == true}
                <li class="bottom-padded {if isset($new_magasin)&&$new_magasin==true}selected{/if}">
                    <a href="?module=magasin&amp;action=edit&amp;id="><i class="icon16 add"></i><strong>Новый магазин</strong>
                    </a>
                </li>
                {/if}

                {if isset($view_all_providers) && $view_all_providers == true}
                <li class="bottom-padded {if isset($new_provider)&&$new_provider==true}selected{/if}">
                    <a href="?module=provider&amp;action=edit&amp;id="><i class="icon16 add"></i><strong>Новый поставщик</strong>
                    </a>
                </li>
                {/if}

                <li {if (isset($view_all_magasins) && $view_all_magasins == true) || (isset($view_setupmagasin) && $view_setupmagasin == true) || (isset($view_selectfields) && $view_selectfields == true)}class="selected"{/if}>
                <a href="{$wa_app_url}">
                    <span class="count ">{$magasins_count}</span>
                    <i class="icon16 widgets"></i>Магазины
                </a>
                </li>

                <li {if (isset($view_all_providers) && $view_all_providers == true) || (isset($view_matchs) && $view_matchs == true)}class="selected"{/if}>
                <a href="?module=provider">
                    <span class="count ">{$providers_count}</span>
                    <i class="icon16 plugins"></i>Поставщики
                </a>
                </li>


                <li {if isset($view_settings) && $view_settings == true}class="selected"{/if}>
                <a href="?module=settings">
                    <i class="icon16 settings"></i>Настройки
                </a>
                </li>

                <li {if isset($view_products) && $view_products == true}class="selected"{/if}>
                <a href="?module=product">
                    <i class="icon16 upload"></i>Продукты
                </a>
                </li>

                <li {if isset($view_categories) && $view_categories == true}class="selected"{/if}>
                <a href="?module=categorie">
                    <i class="icon16 apps"></i>Категории
                </a>
                </li>


                <li {if isset($view_similars) && $view_similars == true}class="selected"{/if}>
                <a href="?module=similars">
                    <i class="icon16 checkboxes"></i>Симиляры
                </a>
                </li>

                <li {if isset($view_archives) && $view_archives == true}class="selected"{/if}>
                <a href="?module=archive">
                    <i class="icon16 widgets"></i>Архив симиляров
                </a>
                </li>

                <li {if isset($view_groups) && $view_groups == true}class="selected"{/if}>
                <a href="?module=groups">
                    <i class="icon16 apps"></i>Группы
                </a>
                </li>

                <li {if isset($view_providergroups) && $view_providergroups == true}class="selected"{/if}>
                <a href="?module=providergroups">
                    <i class="icon16 apps"></i>Поставщики в группах
                </a>
                </li>

            </ul>
        </div>


        <div id="tree1"></div>


    </div>
</div>
