<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{$wa->appName()} - {$wa->accountName()}</title>
    {$wa->css()}
    <link rel="stylesheet" type="text/css" href="{$wa_app_static_url}css/contacts.css?{$wa->version()}" media="screen" />

    <script src="{$wa_url}wa-content/js/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="{$wa_url}wa-content/js/jquery/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

</head>
<body>
<body id="{$wa_app}"><div id="wa">
    {wa_header}
    <div id="wa-app">
        <div class="sidebar left200px" id="c-sidebar"></div>
        <div class="content left200px" id="c-core">
            <div class="contacts-background">
                <div class="block not-padded c-core-content">
                    {if isset($content) && $content}
                    {$content}
                    {else}
                    <div class="block">
                        <h1 class="wa-page-heading">[`Loading...`]</h1>
                    </div>
                    {/if}
                </div>
            </div>
        </div>
    </div>
    <div id="wa-cache" style="display:none"></div>
</div>
</body>
</html>