.selector-for-some-widget {
    box-sizing: content-box;
}

#tree1 {
    margin-left: 10px;
}

#tree1 .jqtree-title {
    padding-left: 19px;
    background-image: url("../img/folder1.png");
    background-repeat: no-repeat;
}

#tree1 a.jqtree-toggler {
    font-family: Helvetica Neue;
}

.group_toggle {

    cursor: pointer;
    padding-left: 10px;
}

.arrow-right {
    background-image: url("../img/arrow-right.png");
    background-repeat: no-repeat;
    width: 15px;
    height: 23px;
    float: left;
}

.arrow-down {
    background-image: url("../img/arrow-down.png");
    background-repeat: no-repeat;
    width: 15px;
    height: 23px;
    float: left;
}

.button-plus {
    float: right;
    background-image: url("../img/plus.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    margin: 5px 5px 0 0;
}

.groups-title {
    float: left;
}

.add-provider {
    float: right;
    background-image: url("../img/plus1.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    margin: 5px 5px 0 0;
}

.delete_group:hover, .delete_provider:hover {
    cursor: pointer;

}

.disc {
    background-image: url("../img/disc.png");
    width: 20px;
    height: 21px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.others {
    display: none;

    color: green;
    font-size: 12px;
    font-style: italic;

}

.toggle-first {
    cursor: pointer;
    color: #dc3545;
    z-index: 1;
}

.div_glob {
    margin-bottom: 30px;
}