<form id="post-form" action="magasins/?module=magasin&action=save"  method="post">
    {$wa->csrf()}

    <div class="content right200px">

        <div class="b-stream b-single-post">
            <div class="b-stream-title" style="padding-left: 20px;">
                {$title}
            </div>

            <div class="block double-padded b-post b-bottom-extra-padded " style="position: static;">

                <input name="name" type="text" value="{$magasin.name|escape}" class="b-post-title" maxlength="255" placeholder="Название магазина">

                <input name="url" type="text" value="{$magasin.url|escape}" class="b-post-title" maxlength="255" placeholder="Cсылка на магазин">

                <input type="hidden" id="d" name="id" value="{$magasin.id}">

            </div>
            <div class="block double-padded b-post" id="buttons-bar">
                <div id="b-post-public-settings">
                    <input id="b-post-save-button" type="submit" class="button green" name="" value="[`Save`]" >
                </div>
            </div>

        </div>

    </div>

</form>