
<!--<script src="{$wa_app_static_url}js/jquery.min.js"></script>-->
<script src="{$wa_app_static_url}js/tree.jquery.js"></script>
<link rel="stylesheet" href="{$wa_app_static_url}css/jqtree.css">
<link rel="stylesheet" href="{$wa_app_static_url}css/magasin.css">


<link rel="stylesheet" href="{$wa_app_static_url}css/jquery-ui.min.css">
<script src="{$wa_app_static_url}js/jquery.blockUI.js" type="text/javascript"></script>
<script src="{$wa_app_static_url}js/jquery-ui.min.js" type="text/javascript"></script>

<script language="javascript">
    $( document ).ready(function() {

        show_tree();

        $( ".matchs_extract" ).on( "click", function () {

            var provider_id = $(this).attr('provider_id');
            var magasin_id = $(this).attr('magasin_id');

            $.post( "{$wa_app_url}?module=matchs&action=validate&provider_id="+provider_id, function( data ) {

                var values = JSON.parse(data);

                if(values.count_elements > 0) {
                    return window.location.href = '?module=readxml&provider_id='+provider_id+'&magasin_id='+magasin_id;
                }
                else {
                    alert('Необходимо сделать сопоставление полей');
                    return false;
                }
            });
        });

        $('#groupForm').on("submit", function() {
            var post = $('#groupForm').serialize();

            $.post( "{$wa_app_url}?module=groups&action=save&"+post+"&magasin_id={$magasin_id}", function( data ) {
               $('#groupModal').modal('hide');
               reload_tree();
            });
            return false;
        });

        $('#providerForm').on("submit", function() {

            var post = $('#providerForm').serialize();

            // console.log("{$wa_app_url}?module=provider&action=save&"+post+"&magasin_id={$magasin_id}")
            // return false;

            $.post( "{$wa_app_url}?module=provider&action=save&"+post+"&magasin_id={$magasin_id}", function( data ) {
                $('#providerModal').modal('hide');
                reload_tree();
            });
            return false;
        });

        $('.disc').on("click", function() {

            var post = $('#adminForm').serialize();
            $.post( "{$wa_app_url}?module=setupmagasin&action=savepriority&"+post, function( data ) {
                location.reload();
            });
        });

        $('#settings').on("click", function() {
            $('#settingsModal').modal('show');
        });

        $('#settingsform').on("submit", function() {

            var post = $('#settingsform').serialize();

            // alert(post);
            // return false;

            $.post( "{$wa_app_url}?module=setupmagasin&action=savesettings&"+post+"&magasin_id={$magasin_id}", function( data ) {
                $('#settingsModal').modal('hide');
                location.reload();
            });
            return false;
        });

        $(document).on("click",".toggle-first", function() {

            //alert('aa')
            $(this).parent().find('.others').toggle();
        });


        $(document).on("click",".checkbox_similar", function() {

                //alert($(this).attr('product_id'));
                //alert($(this).is(':checked'))

            var product_id = $(this).attr('product_id');
            var checked = $(this).is(':checked');

            $.post( "{$wa_app_url}?module=setupmagasin&action=checksimilar&product_id="+product_id+"&checked="+checked+"&magasin_id={$magasin_id}", function( data ) {

                 console.log(data);

            });

        });

        $('#similars_check').on("click", function() {


            //block module
            jQuery('body').block({
                message: 'Выполняем поиск симиляров в базе данных',
                css: { border: 'none',
                    padding: '15px',
                    backgroundColor: '#000',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .5,
                    color: '#fff',
                    font_size: '10px'
                },
                onBlock: function() {}
            });

            $.post( "{$wa_app_url}?module=setupmagasin&action=similars&magasin_id={$magasin_id}", function( data ) {

                jQuery('body').unblock();

                var values = JSON.parse(data);


                // console.log(values.original);
                // return false;

                var main_div = $('#similarsModal').find('#similarsform');
                main_div.val();
                main_div.html('');


                // console.log(values);
                // return false;

                jQuery.each(values, function(i, val) {

                    var div_glob = $("<div class='div_glob'>");

                    jQuery.each(val, function(j, val_inside) {

                        var is_checked = '';
                        if(val_inside.similars_checked_id) {
                            is_checked = 'checked="checked"';
                        }
                        else {
                            is_checked = '';
                        }

                        if (j == 0) {
                            var div_first = $("<div class='toggle-first float-left'>").html('#' + val_inside.id + ' ' + val_inside.name + ' (' + val_inside.provider_name + ')' + ' sku: ' + val_inside.sku);
                            div_glob.append(div_first);

                            var checkbox = $('<div class="form-check float-left"><input class="form-check-input position-static checkbox_similar" name="similar_product_checkbox[]" type="checkbox" product_id="' + val_inside.id + '" value="' + val_inside.id + '"  '+is_checked+'></div><div class="clear-both"></div>');
                            var hidden_div = $('<input type="hidden" name="similar_product_hidden[]" value="' + val_inside.id + '">');
                            div_glob.append(checkbox);
                            div_glob.append(hidden_div);
                        }
                        else {
                            var div_others = $("<div class='others'>");
                            var div_similars = $("<div class='float-left'>").html('#' + val_inside.id + ' ' + val_inside.name + ' (' + val_inside.provider_name + ') rel:' + val_inside.percents + ' sku: ' + val_inside.sku);

                            div_others.append(div_similars);

                            var checkbox = $('<div class="form-check float-left"><input class="form-check-input position-static checkbox_similar" name="similar_product_checkbox[]" type="checkbox" product_id="' + val_inside.id + '" value="' + val_inside.id + '" '+is_checked+'></div><div class="clear-both"></div>');
                            var hidden_div = $('<input type="hidden" name="similar_product_hidden[]" value="' + val_inside.id + '">');
                            div_others.append(checkbox);
                            div_others.append(hidden_div);

                            div_glob.append(div_others);
                        }

                        //var div = $("<div>").html('#'+val.id1+' '+val.name1 + ' ('+val.provider_id_1_name+')' + ' sku: '+val.sku1);

                        //jQuery.each(values.similars, function(j, val_sim) {


                        //});
                        //var div2 = $("<div>").html('&nbsp;&nbsp;--#'+val.id2+' '+val.name2 + ' ('+val.provider_id_2_name+') rel:'+val.percents+' sku: '+val.sku2+'<hr />');

                        //if(val.mode == 'byname') {
                        // var div3 = $("<div style='color: green;'>").html('по названию:');
                        //}
                        //else {
                        //    var div3 = $("<div style='color: green;'>").html('по артикулу:');
                        //}
                        //main_div.append(div3);

                        //main_div.append(div);
                        //main_div.append(div2);

                        // jQuery.each(val.similars, function(j, sim) {
                        //     var div = $("<div>").html('&nbsp;&nbsp;--'+sim.name + ' ('+sim.provider_name+')<br /><br />');
                        //     main_div.append(div);
                        // })
                    });

                    main_div.append(div_glob);

                });

                var submit_button = $('<button class="btn btn-primary" type="submit">Сохранить</button>');
                main_div.append(submit_button);

                $('#similarsModal').modal('show');

            });

            $('#similarsform').on("submit", function() {
                var form_post = $('#similarsform').serialize();

                //console.log(post)

                 $.post( "{$wa_app_url}?module=setupmagasin&action=savesimilar&"+form_post+"&magasin_id={$magasin_id}", function( data ) {
                    console.log(data);
                    $('#similarsModal').modal('hide');

                 });
                return false;
            });

        });
    });

    function reload_tree() {
        unbind();
       $.post( "{$wa_app_url}?module=providergroups&action=readjson", function( new_data  ) {
            var values = JSON.parse(new_data );
            $('#tree1').tree('loadData', values);
            events();
        });
    }

    function unbind() {
        $("#tree1 div.jqtree-element").unbind('mouseenter mouseleave');
    }

    function show_tree() {

        $.post( "{$wa_app_url}?module=providergroups&action=readjson", function( data ) {

            $( "#tree1" ).wrap( "<div class='group_toggle'></div>" );

            $('.group_toggle').prepend("<div class='arrow arrow-right'></div><div class='groups-title'>Группы поставщиков</div><div class='button-plus'>&nbsp;&nbsp;</div>");

            var values = JSON.parse(data);
            $('#tree1').tree({
                data: values,
                dragAndDrop: true,
                autoOpen: true,
                selectable: false
            });

            $('#tree1').on(
                'tree.move',
                function(event) {
                    // console.log('moved_node', event.move_info.moved_node);
                    // console.log('target_node', event.move_info.target_node);
                    // console.log('position', event.move_info.position);
                    // console.log('previous_parent', event.move_info.previous_parent);

                    event.preventDefault();
                    // do the move first, and _then_ POST back.
                    event.move_info.do_move();

                    var jsonData = {};

                    jsonData['tree'] = $(this).tree("toJson");

                    $.post("{$wa_app_url}?module=providergroups&action=saveorder&magasin_id={$magasin_id}", jsonData)
                        .done(function( data ) {
                            console.log(data)
                        });
                }
            );

            $( ".groups-title,.arrow" ).on( "click", function() {
                $( "#tree1" ).toggle();

                if( $( '.arrow' ).hasClass( "arrow-right" )) {
                    $( '.arrow' ).removeClass( "arrow-right" ).addClass( "arrow-down" );
                }
                else {
                    $( '.arrow' ).removeClass( "arrow-down" ).addClass( "arrow-right" );
                }
            });

            $(".button-plus").on("click", function() {
                $('#groupModal').modal('show');
                $('#groupModal').find('[name="magasin_id"]').val({$magasin_id});
                return false;
            });

            events();


            $('#tree1').on(
                'tree.click',
                function(event) {

                    // The clicked node is 'event.node'
                    var node = event.node;
                    //alert(node.id);

                    var elm = event.click_event.target;

                    var jelm = $(elm)

                    if (jelm.hasClass('add-provider')) {

                        $('#providerModal').modal('show');
                        $('#providerModal').find('[name="group_id"]').val(node.id);

                    }
                    else if( jelm.attr('aria-level') == 2) {


                        $.post("{$wa_app_url}?module=provider&action=edit&is_modal=1&id="+node.id+"&group_id="+node.parent_id+"&magasin_id={$magasin_id}", function (data) {
                            var values = JSON.parse(data );

                            $('#providerModal').modal('show');
                            $('#providerModal').find('.modal-title').text('Обновить провайдера');

                            $('#providerModal').find('.delete_provider').show();

                            if(values.id) {
                                $('#providerModal').find('[name="id"]').val(values.id);
                                $('#providerModal').find('[name="url"]').val(values.url);
                                $('#providerModal').find('[name="xml_url"]').val(values.xml_url);
                                $('#providerModal').find('#providerName').val(values.name);
                            }

                            $('#providerModal').find(':submit').text('Обновить');

                        });
                    }
                    else {

                        $.post("{$wa_app_url}?module=groups&action=edit&is_modal=1&id="+node.id+"&magasin_id={$magasin_id}", function (data) {
                            var values = JSON.parse(data );

                            $('#groupModal').modal('show');
                            $('#groupModal').find('.modal-title').text('Обновить группу');

                            $('#groupModal').find('.delete_group').show();

                            if(values.id) {
                                $('#groupModal').find('[name="id"]').val(values.id);
                            }

                            $('#groupModal').find('#validationServerUsername').val(values.name);
                            $('#groupModal').find(':submit').text('Обновить');

                        });
                    }
                }
            );

            $('.add_provider').on('click',function() {
                //console.log('add_provider worked');
            });


            $('.delete_group').on("click", function () {
                var id = $('#groupModal').find('[name="id"]').val();

                $.post( "{$wa_app_url}?module=groups&action=delete&id="+id+"&is_modal=1&magasin_id={$magasin_id}", function( data ) {
                    $('#groupModal').find('.delete_group').hide();
                    $('#groupModal').modal('hide');
                    reload_tree();
                });
                return false;
            });

            $('.delete_provider').on("click", function () {
                var id = $('#providerModal').find('[name="id"]').val();

                $.post( "{$wa_app_url}?module=provider&action=delete&id="+id+"&is_modal=1&magasin_id={$magasin_id}", function( data ) {
                    $('#providerModal').find('.delete_provider').hide();
                    $('#providerModal').modal('hide');
                    reload_tree();
                });
                return false;
            });

        });
    }

    function events () {

        $("#tree1 div.jqtree-element").on("mouseenter", function(){
            var level = $(this).find("span").attr("aria-level");
            if(level == 1) {
                if ($(this).find("div.add-provider").length) {
                    $(this).find("div.add-provider").show();
                }
                else {
                    $(this).append("<div class='add-provider'></div>");
                }
            }
        });

        $("#tree1 div.jqtree-element").on( "mouseleave", function() {
            var level = $(this).find("span").attr("aria-level");
            if(level == 1) {
                if ($(this).find("div.add-provider").length) {
                    $(".add-provider").hide();
                }
            }
        });

        $('#groupModal,#providerModal').on('hidden.bs.modal', function() {
            $(this)
                .find("input,textarea,select")
                .val('')
                .end()

            $('#groupModal').find('.delete_group').hide();
            $('#providerModal').find('.delete_provider').hide();
        });
    }

</script>


<form action="index.php?module=setupmagasin" method="post" id="adminForm" name="adminForm">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{$wa_app_url}">Магазины</a></li>
            <li class="breadcrumb-item active" aria-current="page">{$magasin.name} <a href="{$magasin.url}" target="_blank">{$magasin.url}</a></li>
        </ol>
    </nav>

    <div class="mt-3"></div>
    <div style="float: left;">
        <button type="button" class="btn btn-outline-success btn-sm" onclick="return submitbuttonsetup('setupmagasin','edit', {$magasin_id});" >Добавить</button>
        <button type="button" class="btn btn-outline-danger btn-sm" onclick="return deletebutton('setupmagasin','delete');">Удалить</button>
        <button type="button" class="btn btn-outline-secondary btn-sm" onclick="return window.location.href = '{$wa_app_url}';">Вернуться</button>

        <button type="button" class="btn btn-outline-warning btn-sm" id="similars_check" style="margin-left: 40px;">Симиляры</button>

        <button type="button" class="btn btn-outline-info btn-sm" id="settings">Настройки</button>
    </div>

    <div style="float: right;" class="mr-3 mb-3">
        <input class="form-control form-control-sm" type="text" placeholder="поиск" name="search" value="{$search}">
    </div>

    <div style="clear: both;"></div>

    <div style="margin-top: 10px;"></div>

    <div style="overflow:scroll;">
        <table class="table table-striped table-bordered table-hover">
            <caption>Список поставщиков</caption>
            <thead class="thead-light">
            <tr>
                <th scope="col"><input type="checkbox" onclick="return checkAll();"> </th>
                <th scope="col">#</th>
                <th scope="col">id</th>
                <th scope="col">название</th>
                <th scope="col">url</th>
                <th scope="col">только обновлять</th>
                <th scope="col">периодичность обновления</th>
                <th scope="col">прочитать xml</th>
                <th scope="col">настройка что забирать</th>
                <th scope="col">csv</th>
                <th scope="col">приор.<div class="disc"></div></th>
            </tr>
            </thead>

            <tbody>
            {foreach from=$records item=r}
            <tr>
                <td>
                    <input type="checkbox" class="setupmagasin_checkbox" value="{$r.id}" name="cid[]">
                </td>
                <td>{$r.id}</td>
                <td><input type="hidden" name="cid[]" value="{$r.id}">{$r.provider_id}</td>
                <td><a href="?module=provider&action=edit&id={$r.provider_id}">{$r.provider_name}</a></td>
                <td><a href="{$r.provider_url}">{$r.provider_url}</a></td>

                <td>
                    <div class="btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-sm btn-outline-warning {if $r.only_refresh}active{/if}">
                            <input type="checkbox"  autocomplete="off" data-toggle="toggle" module="setupmagasin" class="publish_toogle" value_id="{$r.id}">{if $r.only_refresh}Только обновлять{else}Включить{/if}
                        </label>
                    </div>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-info btn-sm" onclick="return window.location.href = '?module=setupmagasin&id={$r.id}';">настройка</button>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-dark btn-sm matchs_extract" magasin_id="{$magasin_id}" provider_id="{$r.provider_id}" >прочитать</button>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm" onclick="return window.location.href = '?module=selectfields&magasin_id={$magasin_id}&provider_id={$r.provider_id}';">настройка</button>
                </td>

                <td>
                    <button type="button" class="btn btn-outline-success btn-sm" onclick="return window.location.href = '?module=product&action=csv&provider_id={$r.provider_id}&magasin_id={$r.magasin_id}';">получить csv</button>
                </td>

                <td>
                    <input type="text" name="priority[]" style="width: 30px;" value="{$r.priority}">
                </td>

            </tr>
            {/foreach}
            </tbody>
        </table>
    </div>

    <input type="hidden" name="module" value="setupmagasin"/>
    <input type="hidden" name="magasin_id" value="{$magasin_id}"/>

</form>

<form action="index.php?module=setupmagasin&action=saveselect" method="post" name="adminForm">
<div>
    <select multiple="multiple" id="select" style="width:200px; height: 200px;" name="providersgroups[]">
        {foreach from=$select item=r}
            <optgroup label="{$r.name}">
                {foreach from=$r.childs item=n}
                    <option value="{$n.id}" {if  isset($n.selected)}selected{/if}>{$n.name}</option>
                {/foreach}
            </optgroup>
        {/foreach}
    </select>
</div>
<div>
    <input type="submit" value="Сохранить" class="btn btn-outline-success btn-sm">
</div>
    <input type="hidden" name="magasin_id" value="{$magasin_id}"/>
</form>
    <br />
    <br />


<div class="modal fade" id="groupModal" tabindex="-1" role="dialog" aria-labelledby="groupModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Новая группа</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="groupForm">
                    <div class="form-group">
                        <label for="validationServerUsername" class="col-form-label">Название:</label>
                        <div style="float: right; display: none;" class="delete_group">удалить группу</div>
                        <input type="text" class="form-control" id="validationServerUsername" name="name" required>
                        <div class="invalid-feedback">
                            Введите название
                        </div>
                    </div>
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                    <input type="hidden" name="is_modal" value="1">
                    <input type="hidden" name="id" value="">
                    <input type="hidden" name="magasin_id" value="">
                </form>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>-->

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="providerModal" tabindex="-1" role="dialog" aria-labelledby="groupModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="providerModalLabel">Новый поставщик</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="providerForm">
                    <div class="form-group">
                        <label for="providerName" class="col-form-label">Название:</label>
                        <div style="float: right; display: none;" class="delete_provider">удалить провайдера</div>
                        <input type="text" class="form-control" id="providerName" name="name" required>
                        <div class="invalid-feedback">
                            Введите название
                        </div>

                        <label for="providerUrl" class="col-form-label">Url:</label>
                        <input type="text" class="form-control" id="providerUrl" name="url" required>

                        <label for="providerXmlurl" class="col-form-label">Xml url:</label>
                        <input type="text" class="form-control" id="providerXmlurl" name="xml_url" required>


                    </div>
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                    <input type="hidden" name="is_modal" value="1">
                    <input type="hidden" name="id" value="">
                    <input type="hidden" name="group_id" value="">
                </form>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>-->

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="similarsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Список симиляров</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form name="similarsform" id="similarsform">


                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Настройки</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form name="settingsform" id="settingsform">
                    <div class="form-group">

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="byarticle" name="byarticle" {if $settings.byarticle} checked="checked"{/if}>
                            <label class="form-check-label" for="byarticle">Сопоставление по артикулу</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="byname" name="byname" {if $settings.byname} checked="checked"{/if}>
                            <label class="form-check-label" for="byname">Сопоставление по названию</label>
                        </div>


                        <div class="form-group ">
                            <label for="rel" class="col-form-label">Коэффициент совпадения по названию:</label>
                            <input type="text" class="form-control col-1" id="rel" name="rel" value="{$settings.rel}" required>
                        </div>


                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="returnall" name="returnall" {if $settings.returnall} checked="checked"{/if}>
                            <label class="form-check-label" for="returnall">отдается все без ограничения (симилярность не учитывается)</label>
                        </div>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="returnbyprice" name="returnbyprice" {if $settings.returnbyprice} checked="checked"{/if}>
                            <label class="form-check-label" for="returnbyprice">приоритет цены (отдается то, что дешевле)</label>
                        </div>

                        <input type="hidden" name="magasin_id" value="{$magasin_id}">
                    </div>
                    <button class="btn btn-primary" type="submit">Сохранить</button>
                </form>

            </div>
        </div>
    </div>
</div>





